
.about_cover_img{
    margin: auto;
    max-width: 80vw;

}
.about_cover_img{
    
    background-image: url('../assets/about_cover.png');
    background-position: center;
    background-size: cover;
    height: 200px;    
    border-radius: 20px;
    margin-bottom: 30px;
}

.collapse_element{
   margin: auto;
   max-width: 75vw;
   
}


@media screen and (max-width: 767px) {

    
    .about_details
    {
        width: 93%;
        margin: -29px auto;

    }

    
    .about_collapse{
    margin: -25px 5px;
       
   }

   .about_cover_img{
    
    max-width: 95vw;
}
          
   .collapse_element{
    
    max-width: 98%;
    margin: auto;
   
 }
 .collapse_title{
    
    max-width: 98%;
    padding: 7px;
   
 }


}

