
.about_cover_img{
    margin: auto;
    max-width: 80vw;

}
.about_cover_img{
    
    background-image: url('../assets/about_cover.png');
    background-position: center;
    background-size: cover;
    height: 223px;    
    border-radius: 20px;
    margin-bottom: 30px;
}

.collapse_element{
   margin: auto;
   max-width: 63vw;
   
}


