.accomodation_page{
    color: #FF6060;
    font-family: 🇲🇸 , sans-serif;
    max-width: 90vw;
    margin: auto;


}


h1{
    font-size: 30px;
    font-weight: 500;
}

h2{
    font-size: 16px;
    font-weight: 400;
}

h3{
    font-size: 16px;
    font-weight: 400;
    display: flex;
    width: 60px;

}

.accomodation_tag{

    display: flex;
    width: 140%;
}

button{
    color: #FFFFFF ;
    font-size: 12px;
    width: 25%;
    display: inline;
    padding: 5px 15px;
    cursor: pointer;
    border-radius: 20px;
    border: none;
    background-color:#FF6060;
    margin-right: 10px;
    margin-top: 35px;
}


button:hover{
    box-shadow: 0 2px 8px rgb(0, 0, 0);
   
}

.accomodation_header{
    display: flex;
    width: 97%;
    justify-content: space-between;
    margin-top: 50px;

}


.accomodation_host_badge{
    display: flex;
    flex-direction: row;
}
.accomodation_text{
    margin: 0px;
}
.accomodation_badge{
    height: 50px;
    width: 25%;
    border-radius: 50%;
  

}

.on{
    color: #FF6060;
}

.off{
    color: rgba(196, 196, 196, 1);
}
               
.accomodation_img{
    border-radius: 25px;
    height: 400px;
    background-position: center;
    background-size: cover;
    border-radius: 25px;
    display: grid;
    place-items: center;
    color: #FFFFFF;
    opacity: 0.9;
    margin-bottom: 30px;
    box-shadow: 0px 5px 15px rgb(147 157 165/ 20%);


}



.accomodation_host{
   width: 14%;
   position: relative;
   

}

.accomodation_rate{
    display: flex;
    position: absolute;
    left: 40px;
    padding: 60px 0;

}

.appartment_description_banner{
    display: flex;
    justify-content: space-between;

 
}



.collapse_element_description{
    width: 45%;
}

.collapse_element_equipements{
 width: 45%;

}


 
@media screen and (max-width: 767px) {

    .accomodation_header{      
      justify-content: center;
       flex-direction: column;
       margin-top: 0;

    }

    .collapse_element_description {
        width: 82vw;

    }

    .collapse_element_equipements{
        width: 82vw;
    }

    .collapse_element{
        margin: 0;
        max-width: 82vw;
    }

   
    .appartment_description_banner{
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 70px;
        
 
     }

     button{
        margin-top: 10px;
        width: 20%;

     }

    .accomodation_rate{
        left: -5px;

    }
    
    
    .accomodation_host{
        width: 100%;
              
     
    }
    
    .accomodation_host_badge{
        margin-top: 20px;
    }


    .accomodation_host_elements{
        display: flex;
        flex-direction: row-reverse;
    }


 }