.card {
  background-color: #f6f6f6;
  border-radius: 25px;
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  min-height: 50vh;
  gap: 20px;
  justify-content: center;
}

.appartment_card {
  position: relative;
  min-height: 230px;
  background-size: cover;
  border-radius: 10px;
  flex-basis: 30%;
}

.appartment_card img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.appartment_card_title {
  position: absolute;
  width: 95%;
  color: #ffffff;
  left: 4%;
  top: 70%;
  font-size: 14px;
  font-weight: bolder !important;
}
