.banner{
    font-size: 24px;
    font-weight: 500;
    background-image: url('../assets/Banner.png');
    background-position: center;
    background-size: cover;
    height: 223px;
    margin: auto;
    max-width: 93vw;
    border-radius: 25px;
    display: grid;
    place-items: center;
    color: #FFFFFF;
    filter: blur(0.5);
    margin-bottom: 50px;

}


@media screen and (max-width: 767px) {

    .banner{     
      height: 140px; 
      margin-bottom: 30px;
        

    }

}