.banner{
    font-size: 24px;
    font-weight: 500;
    background-image: url('../assets/Banner.png');
    background-position: center;
    background-size: cover;
    height: 223px;
    margin: auto;
    max-width: 82vw;
    border-radius: 25px;
    display: grid;
    place-items: center;
    color: #FFFFFF;
    opacity: 0.9;
    margin-bottom: 50px;

}