
@media screen and (max-width: 767px) {

   .collapse_element{
     max-width: 80vw;
     
   }

}

.collapse_element{
   margin: auto;
   max-width: 63vw;
   
}

 .collapse_title{
   display: flex;
   flex-direction: row;
   justify-content: space-between ;
   align-items: center;
   width: 98%;
    font-size: 18px;
    color: #FFFFFF;
    background-color: #FF6060;
    cursor: pointer;
    border-radius: 6px;
    padding: 5px;
    margin: 0 auto;
    margin-top: 50px;

 }
 .collapse_content{
    letter-spacing: 1px;
    opacity: 1;
    width: 98%;
    height: auto;
    background-color: #F7F7F7; 
    border-radius: 10px;
    padding: 5px;
    font-size: clamp(12px, 2vw, 16px);
    z-index: -1;
    position: relative;
    top: -6px;
    color: #FF6060;
    transition: visibility 0.5s ease-in-out,
                opacity 0.5s ease-in-out,
                height 0.2s ease-in-out;
 }
 
 
 
 .arrow{
   transition: all 0.5s ease-in-out;
 }
 .fa-chevron-up{
    transform: rotate(0deg);
   
 }
 
 .collapse_content_hidden{
        visibility: hidden;
        opacity: 0;
        height: 0;


 }