.navbar{
    max-width: 88vw;
    display: flex;
    align-items: center;
    padding: 50px 52px;
    background-color: white;
    border: 1px solid #FFFFFF;
    color: #FF6060;
    font-weight: 500;
    font-size: 18px;
    gap: 50px;
    padding-inline: 80px;
    overflow-x: hidden;
}

.navbar a {
    text-decoration: none;
    color: #FF6060;
}

.navbar a:hover{
    text-decoration: underline;
}

.navbar a:active{
    text-decoration: underline;
}
.navbar :first-child{
    margin-right: auto;
}



 
@media screen and (max-width: 767px) {

    .navbar{      
        
        padding: 25px 35px;
        font-size: 10px;
        gap: 20px;
        

    }

}